<div class="table-card">
  <div class="table-header-row">
    <div class="table-title">{{ tableTitle }}</div>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Type to search..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="scrollable-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

      <!-- Dynamic columns -->
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>

      <!-- Actions column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;" class="hover-row"></tr>
    </table>
  </div>
</div>
